필요한 모듈 임포트

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [2]:
import platform
plt.rc('figure', figsize=(10, 6))  # 그림 크기 설정
if platform.system() == 'Windows': # 윈도우
    from matplotlib import font_manager, rc
    font_path = "C:/Windows/Fonts/NGULIM.TTF"
    font = font_manager.FontProperties(fname=font_path).get_name()
    rc('font', family=font)
elif platform.system() == 'Linux': # 우분투 또는 구글 코랩
    # !sudo apt-get install -y fonts-nanum*
    # !fc-cache -fv
    
    applyfont = "NanumBarunGothic"
    import matplotlib.font_manager as fm
    if not any(map(lambda ft: ft.name == applyfont, fm.fontManager.ttflist)):
        fm.fontManager.addfont("/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf")
    plt.rc("font", family=applyfont)
    plt.rc("axes", unicode_minus=False)

In [3]:
# GradientBoosting
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.model_selection import GridSearchCV

In [4]:
from sklearn.preprocessing import StandardScaler

데이터 가져오기

In [5]:
base_path = "https://github.com/codingalzi/water-data/raw/master/reservoirs/"

In [6]:
# base_path = r"C:\Users\owner\Desktop\water-source\data"

In [7]:
scb_yearly = pd.read_excel(base_path+"Seungchonbo.xlsx", 
                            skiprows=0, 
                            header=1, 
                            sheet_name=None,
                            na_values='ND',
                            parse_dates=True)  # index_col = 0을 제외함

In [8]:
print(type(scb_yearly))  # type-dict
print(scb_yearly.keys())  # 2012년부터 2022년까지

<class 'dict'>
dict_keys(['2012년', '2013년', '2014년', '2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년', '2022년'])

In [9]:
scb_yearly['2012년'].columns

Index(['측정일/월', '측정소명', '수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L',
       '총유기탄소 mg/L', '총질소 mg/L', '총인 mg/L', '클로로필-a mg/㎥'],
      dtype='object')

2013년 자료부터

In [10]:
scb_yearly_df13 = pd.DataFrame()

for item in list(scb_yearly.keys())[1:]:
    scb_yearly_df13 = pd.concat([scb_yearly_df13, scb_yearly[item]])

In [11]:
scb_yearly_df13 = scb_yearly_df13.reset_index(drop=True)

결측치 확인

In [12]:
scb_yearly_df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82257 entries, 0 to 82256
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   측정일/월        82257 non-null  object
 1   측정소명         82257 non-null  object
 2   수온 ℃         64574 non-null  float64
 3   수소이온농도       64561 non-null  float64
 4   전기전도도 μS/cm  64524 non-null  float64
 5   용존산소 mg/L    62656 non-null  float64
 6   총유기탄소 mg/L   58675 non-null  float64
 7   총질소 mg/L     59981 non-null  float64
 8   총인 mg/L      58997 non-null  float64
 9   클로로필-a mg/㎥  62876 non-null  float64
dtypes: float64(8), object(2)
memory usage: 6.3+ MB

In [13]:
scb_yearly_df13.isnull().sum()

측정일/월              0
측정소명               0
수온 ℃           17683
수소이온농도         17696
전기전도도 μS/cm    17733
용존산소 mg/L      19601
총유기탄소 mg/L     23582
총질소 mg/L       22276
총인 mg/L        23260
클로로필-a mg/㎥    19381
dtype: int64

In [14]:
scb_yearly_df13.head()

,측정일/월,측정소명,수온 ℃,수소이온농도,전기전도도 μS/cm,용존산소 mg/L,총유기탄소 mg/L,총질소 mg/L,총인 mg/L,클로로필-a mg/㎥
0,2013-01-01 00h,용봉,3.9,6.9,374.0,11.4,2.5,NaN,NaN,7.2
1,2013-01-01 01h,용봉,3.9,6.9,375.0,11.4,2.5,NaN,NaN,6.9
2,2013-01-01 02h,용봉,4.0,6.9,374.0,11.4,2.5,NaN,NaN,6.8
3,2013-01-01 03h,용봉,4.1,6.9,375.0,11.4,2.5,NaN,NaN,6.9
4,2013-01-01 04h,용봉,4.0,6.9,380.0,11.3,2.6,NaN,NaN,6.9

유량 데이터 추가하기

In [15]:
scb_flow_yearly = pd.read_excel(base_path+"Seungchonbo-flow_rate.xlsx", 
                            header=0, 
                            sheet_name=None,
                            na_values='ND',
                            parse_dates=True)  # index_col = 0을 제외함

In [16]:
for year in list(scb_flow_yearly.keys())[1:]:
    scb_flow_yearly[year]['연월일시'] = scb_flow_yearly[year]['시간'].apply(lambda x : x[:-3])

In [28]:
scb_flow_yearly['2013']

,시간,상류수위(EL.m),하류수위(EL.m),유입량(㎥/s),방류량(㎥/s),연월일시
0,2013.01.01 00:00,7.50,3.77,19.82,19.74,2013.01.01 00
1,2013.01.01 00:10,7.50,3.77,19.78,19.76,2013.01.01 00
2,2013.01.01 00:20,7.50,3.77,19.77,19.82,2013.01.01 00
3,2013.01.01 00:30,7.50,3.77,19.77,19.73,2013.01.01 00
4,2013.01.01 00:40,7.50,3.77,19.78,19.79,2013.01.01 00
...,...,...,...,...,...,...
52555,2013.12.31 23:10,7.52,3.55,10.87,10.86,2013.12.31 23
52556,2013.12.31 23:20,7.52,3.55,10.87,10.87,2013.12.31 23
52557,2013.12.31 23:30,7.52,3.55,10.86,10.85,2013.12.31 23
52558,2013.12.31 23:40,7.52,3.55,10.86,10.85,2013.12.31 23
52559,2013.12.31 23:50,7.52,3.55,10.86,10.87,2013.12.31 23

In [17]:
scb_flow_yearly_hour = {}

for year in list(scb_flow_yearly.keys())[1:]:
    scb_flow_yearly_hour[year] = scb_flow_yearly[year].groupby('연월일시').mean()

In [18]:
for year in scb_flow_yearly_hour:
    scb_flow_yearly_hour[year] = scb_flow_yearly_hour[year].reset_index()

In [30]:
scb_flow_yearly_hour['2013']

               연월일시   상류수위(EL.m)   하류수위(EL.m)   유입량(㎥/s)   방류량(㎥/s)
0     2013.01.01 00         7.50     3.770000  19.773333  19.748333
1     2013.01.01 01         7.50     3.770000  19.701667  19.706667
2     2013.01.01 02         7.50     3.770000  19.748333  19.723333
3     2013.01.01 03         7.50     3.770000  19.613333  19.610000
4     2013.01.01 04         7.50     3.770000  19.661667  19.665000
...             ...          ...          ...        ...        ...
8755  2013.12.31 19         7.52     3.558333  10.901667  10.910000
8756  2013.12.31 20         7.52     3.555000  10.845000  10.843333
8757  2013.12.31 21         7.52     3.551667  10.850000  10.845000
8758  2013.12.31 22         7.52     3.555000  10.870000  10.876667
8759  2013.12.31 23         7.52     3.550000  10.865000  10.863333

[8760 rows x 5 columns]

In [19]:
scb_flow_yearly_hour_df = pd.DataFrame()

for year in scb_flow_yearly_hour:
    scb_flow_yearly_hour_df = pd.concat([scb_flow_yearly_hour_df, scb_flow_yearly_hour[year]])

In [20]:
scb_flow_yearly_hour_df = scb_flow_yearly_hour_df.reset_index(drop=True)

In [31]:
scb_flow_yearly_hour_df

                연월일시   상류수위(EL.m)   하류수위(EL.m)   유입량(㎥/s)   방류량(㎥/s)
0      2013.01.01 00     7.500000     3.770000  19.773333  19.748333
1      2013.01.01 01     7.500000     3.770000  19.701667  19.706667
2      2013.01.01 02     7.500000     3.770000  19.748333  19.723333
3      2013.01.01 03     7.500000     3.770000  19.613333  19.610000
4      2013.01.01 04     7.500000     3.770000  19.661667  19.665000
...              ...          ...          ...        ...        ...
84388  2022.08.17 15     5.536667     1.618333  29.261667  25.190000
84389  2022.08.17 16     5.525000     1.638333  23.243333  38.923333
84390  2022.08.17 17     5.483333     1.626667  29.068333  44.878333
84391  2022.08.17 18     5.470000     1.566667  19.131667  14.925000
84392  2022.08.17 19     5.468333     1.581667  18.811667  19.368333

[84393 rows x 5 columns]

In [21]:
print(scb_flow_yearly_hour_df.__len__())
print(scb_yearly_df13.__len__())

84393
82257

In [22]:
scb_yearly_df13['연월일시'] = scb_yearly_df13['측정일/월'].transform(lambda x: x.strip('h').replace('-', '.'))

In [23]:
scb_data = pd.merge(scb_yearly_df13, scb_flow_yearly_hour_df, how='outer')

In [24]:
scb_data = scb_data[:82257]

In [25]:
scb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82257 entries, 0 to 82256
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   측정일/월        82257 non-null  object
 1   측정소명         82257 non-null  object
 2   수온 ℃         64574 non-null  float64
 3   수소이온농도       64561 non-null  float64
 4   전기전도도 μS/cm  64524 non-null  float64
 5   용존산소 mg/L    62656 non-null  float64
 6   총유기탄소 mg/L   58675 non-null  float64
 7   총질소 mg/L     59981 non-null  float64
 8   총인 mg/L      58997 non-null  float64
 9   클로로필-a mg/㎥  62876 non-null  float64
 10  연월일시         82257 non-null  object
 11   상류수위(EL.m)  82231 non-null  float64
 12   하류수위(EL.m)  82231 non-null  float64
 13   유입량(㎥/s)    82231 non-null  float64
 14   방류량(㎥/s)    82231 non-null  float64
dtypes: float64(12), object(3)
memory usage: 10.0+ MB

In [26]:
scb_data.head()

,측정일/월,측정소명,수온 ℃,수소이온농도,전기전도도 μS/cm,용존산소 mg/L,총유기탄소 mg/L,총질소 mg/L,총인 mg/L,클로로필-a mg/㎥,연월일시,상류수위(EL.m),하류수위(EL.m),유입량(㎥/s),방류량(㎥/s)
0,2013-01-01 00h,용봉,3.9,6.9,374.0,11.4,2.5,NaN,NaN,7.2,2013.01.01 00,7.5,3.77,19.773333,19.748333
1,2013-01-01 01h,용봉,3.9,6.9,375.0,11.4,2.5,NaN,NaN,6.9,2013.01.01 01,7.5,3.77,19.701667,19.706667
2,2013-01-01 02h,용봉,4.0,6.9,374.0,11.4,2.5,NaN,NaN,6.8,2013.01.01 02,7.5,3.77,19.748333,19.723333
3,2013-01-01 03h,용봉,4.1,6.9,375.0,11.4,2.5,NaN,NaN,6.9,2013.01.01 03,7.5,3.77,19.613333,19.610000
4,2013-01-01 04h,용봉,4.0,6.9,380.0,11.3,2.6,NaN,NaN,6.9,2013.01.01 04,7.5,3.77,19.661667,19.665000

In [32]:
scb_data.columns = [x.strip() for x in list(scb_data.columns)]

In [33]:
scb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82257 entries, 0 to 82256
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   측정일/월        82257 non-null  object
 1   측정소명         82257 non-null  object
 2   수온 ℃         64574 non-null  float64
 3   수소이온농도       64561 non-null  float64
 4   전기전도도 μS/cm  64524 non-null  float64
 5   용존산소 mg/L    62656 non-null  float64
 6   총유기탄소 mg/L   58675 non-null  float64
 7   총질소 mg/L     59981 non-null  float64
 8   총인 mg/L      58997 non-null  float64
 9   클로로필-a mg/㎥  62876 non-null  float64
 10  연월일시         82257 non-null  object
 11  상류수위(EL.m)   82231 non-null  float64
 12  하류수위(EL.m)   82231 non-null  float64
 13  유입량(㎥/s)     82231 non-null  float64
 14  방류량(㎥/s)     82231 non-null  float64
dtypes: float64(12), object(3)
memory usage: 10.0+ MB

In [34]:
scb_data = scb_data.loc[:, list(scb_data.columns)[:-5] + list(scb_data.columns)[-4:-3] + list(scb_data.columns)[-1:]]

In [35]:
scb_data.columns

Index(['측정일/월', '측정소명', '수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L',
       '총유기탄소 mg/L', '총질소 mg/L', '총인 mg/L', '클로로필-a mg/㎥', '상류수위(EL.m)',
       '방류량(㎥/s)'],
      dtype='object')

In [36]:
scb_data

,측정일/월,측정소명,수온 ℃,수소이온농도,전기전도도 μS/cm,용존산소 mg/L,총유기탄소 mg/L,총질소 mg/L,총인 mg/L,클로로필-a mg/㎥,상류수위(EL.m),방류량(㎥/s)
0,2013-01-01 00h,용봉,3.9,6.9,374.0,11.4,2.5,NaN,NaN,7.2,7.50,19.748333
1,2013-01-01 01h,용봉,3.9,6.9,375.0,11.4,2.5,NaN,NaN,6.9,7.50,19.706667
2,2013-01-01 02h,용봉,4.0,6.9,374.0,11.4,2.5,NaN,NaN,6.8,7.50,19.723333
3,2013-01-01 03h,용봉,4.1,6.9,375.0,11.4,2.5,NaN,NaN,6.9,7.50,19.610000
4,2013-01-01 04h,용봉,4.0,6.9,380.0,11.3,2.6,NaN,NaN,6.9,7.50,19.665000
...,...,...,...,...,...,...,...,...,...,...,...,...
82252,2022-05-23 19h,용봉,26.6,6.9,419.0,NaN,6.7,5.825,0.108,66.2,5.44,12.766667
82253,2022-05-23 20h,용봉,26.3,6.8,425.0,NaN,6.5,5.803,0.107,61.2,5.44,12.786667
82254,2022-05-23 21h,용봉,25.9,6.8,417.0,NaN,6.7,5.909,0.107,58.3,5.44,12.743333
82255,2022-05-23 22h,용봉,25.7,6.8,420.0,NaN,6.4,5.921,0.106,54.4,5.44,12.700000
82256,2022-05-23 23h,용봉,25.5,6.8,411.0,NaN,6.4,5.818,0.106,52.3,5.44,12.770000

In [37]:
scb_data.isnull().sum()

측정일/월              0
측정소명               0
수온 ℃           17683
수소이온농도         17696
전기전도도 μS/cm    17733
용존산소 mg/L      19601
총유기탄소 mg/L     23582
총질소 mg/L       22276
총인 mg/L        23260
클로로필-a mg/㎥    19381
상류수위(EL.m)        26
방류량(㎥/s)          26
dtype: int64

In [38]:
scb_data.isnull().sum() /len(scb_data)

측정일/월          0.000000
측정소명           0.000000
수온 ℃           0.214973
수소이온농도         0.215131
전기전도도 μS/cm    0.215580
용존산소 mg/L      0.238290
총유기탄소 mg/L     0.286687
총질소 mg/L       0.270810
총인 mg/L        0.282772
클로로필-a mg/㎥    0.235615
상류수위(EL.m)     0.000316
방류량(㎥/s)       0.000316
dtype: float64

In [39]:
len(scb_data)

82257

시간데이터 추가

In [40]:
scb_df = scb_data.copy()

In [41]:
scb_df.columns

Index(['측정일/월', '측정소명', '수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L',
       '총유기탄소 mg/L', '총질소 mg/L', '총인 mg/L', '클로로필-a mg/㎥', '상류수위(EL.m)',
       '방류량(㎥/s)'],
      dtype='object')

In [42]:
col_c = list(scb_df.columns.copy())
col_c.remove('클로로필-a mg/㎥')

In [43]:
col_c

['측정일/월',
 '측정소명',
 '수온 ℃',
 '수소이온농도',
 '전기전도도 μS/cm',
 '용존산소 mg/L',
 '총유기탄소 mg/L',
 '총질소 mg/L',
 '총인 mg/L',
 '상류수위(EL.m)',
 '방류량(㎥/s)']

결측치 보간법

In [47]:
from datetime import datetime

In [48]:
scb_df1 = scb_df.copy()

In [49]:
scb_df1['측정일/월'] = scb_df1['측정일/월'].transform(lambda x: datetime.strptime(x[:-1], '%Y-%m-%d %H'))

In [50]:
scb_df1

,측정일/월,측정소명,수온 ℃,수소이온농도,전기전도도 μS/cm,용존산소 mg/L,총유기탄소 mg/L,총질소 mg/L,총인 mg/L,클로로필-a mg/㎥,상류수위(EL.m),방류량(㎥/s)
0,2013-01-01 00:00:00,용봉,3.9,6.9,374.0,11.4,2.5,NaN,NaN,7.2,7.50,19.748333
1,2013-01-01 01:00:00,용봉,3.9,6.9,375.0,11.4,2.5,NaN,NaN,6.9,7.50,19.706667
2,2013-01-01 02:00:00,용봉,4.0,6.9,374.0,11.4,2.5,NaN,NaN,6.8,7.50,19.723333
3,2013-01-01 03:00:00,용봉,4.1,6.9,375.0,11.4,2.5,NaN,NaN,6.9,7.50,19.610000
4,2013-01-01 04:00:00,용봉,4.0,6.9,380.0,11.3,2.6,NaN,NaN,6.9,7.50,19.665000
...,...,...,...,...,...,...,...,...,...,...,...,...
82252,2022-05-23 19:00:00,용봉,26.6,6.9,419.0,NaN,6.7,5.825,0.108,66.2,5.44,12.766667
82253,2022-05-23 20:00:00,용봉,26.3,6.8,425.0,NaN,6.5,5.803,0.107,61.2,5.44,12.786667
82254,2022-05-23 21:00:00,용봉,25.9,6.8,417.0,NaN,6.7,5.909,0.107,58.3,5.44,12.743333
82255,2022-05-23 22:00:00,용봉,25.7,6.8,420.0,NaN,6.4,5.921,0.106,54.4,5.44,12.700000
82256,2022-05-23 23:00:00,용봉,25.5,6.8,411.0,NaN,6.4,5.818,0.106,52.3,5.44,12.770000

In [51]:
scb_df1 = scb_df1.copy().set_index('측정일/월').interpolate(method='time')

In [53]:
scb_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 82257 entries, 2013-01-01 00:00:00 to 2022-05-23 23:00:00
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   측정소명         82257 non-null  object
 1   수온 ℃         82257 non-null  float64
 2   수소이온농도       82257 non-null  float64
 3   전기전도도 μS/cm  82257 non-null  float64
 4   용존산소 mg/L    82257 non-null  float64
 5   총유기탄소 mg/L   82257 non-null  float64
 6   총질소 mg/L     80154 non-null  float64
 7   총인 mg/L      80154 non-null  float64
 8   클로로필-a mg/㎥  82257 non-null  float64
 9   상류수위(EL.m)   82257 non-null  float64
 10  방류량(㎥/s)     82257 non-null  float64
dtypes: float64(10), object(1)
memory usage: 7.5+ MB

In [54]:
scb_df1 = scb_df1.dropna()

In [55]:
scb_df1.__len__()

80154

In [62]:
scb_df1.columns

Index(['측정소명', '수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L', '총유기탄소 mg/L',
       '총질소 mg/L', '총인 mg/L', '클로로필-a mg/㎥', '상류수위(EL.m)', '방류량(㎥/s)'],
      dtype='object')

In [70]:
col = list(scb_df1.columns[1:])
print(col)

['수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L', '총유기탄소 mg/L', '총질소 mg/L', '총인 mg/L', '클로로필-a mg/㎥', '상류수위(EL.m)', '방류량(㎥/s)']

In [71]:
target_feature = '클로로필-a mg/㎥'

In [72]:
col_v = col.copy()
col_v.remove(target_feature)
print(col_v)

['수온 ℃', '수소이온농도', '전기전도도 μS/cm', '용존산소 mg/L', '총유기탄소 mg/L', '총질소 mg/L', '총인 mg/L', '상류수위(EL.m)', '방류량(㎥/s)']

**시계열 데이터로 전처리**

날짜별로 정렬

In [66]:
scb_df1 = scb_df1.sort_index()

훈련셋, 검증셋, 테스트셋 지정

In [67]:
train_size = int(scb_df1.shape[0] * 0.7)
val_size = int(scb_df1.shape[0] * 0.2)

- 훈련셋

In [74]:
train_set = scb_df1[col_v][:train_size]
train_targets = scb_df1[target_feature][:train_size]

- 검증셋

In [76]:
val_set = scb_df1[col_v][train_size : train_size+val_size]
val_targets = scb_df1[target_feature][train_size : train_size+val_size]

- 검증셋

In [77]:
test_set = scb_df1[col_v][train_size+val_size:]
test_targets = scb_df1[target_feature][train_size+val_size:]

시계열 데이터로 변환

In [78]:
import tensorflow as tf

시계열 데이터 샘플을 `sequence_length` 만큼의 타임 스텝(time step)로
구성한다.
예측값은 미래가 아닌 현재의 클로로필-A 수치로 지정한다.

- 배치 크기: 32
- 공정한 훈련을 위해 구성된 시계열 샘플을 뒤섞는다.

In [79]:
sequence_length=72  # 타임 스텝 크기

train_dataset = tf.keras.utils.timeseries_dataset_from_array(
    train_set,
    targets=train_targets[sequence_length-1:],
    sequence_length=sequence_length,
    shuffle=True,
    batch_size=32)

val_dataset = tf.keras.utils.timeseries_dataset_from_array(
    val_set,
    targets=val_targets[sequence_length-1:],
    sequence_length=sequence_length,
    shuffle=True,
    batch_size=32)

test_dataset = tf.keras.utils.timeseries_dataset_from_array(
    test_set,
    targets=test_targets[sequence_length-1:],
    sequence_length=sequence_length,
    shuffle=True,
    batch_size=32)

입력 데이터셋의 배치의 모양은 `(32, 72, 9)`이다.

In [80]:
for samples, targets in train_dataset:
    print("samples shape:", samples.shape)
    print("targets shape:", targets.shape)
    break

samples shape: (32, 72, 9)
targets shape: (32,)

**케라스 활용**

In [81]:
from tensorflow import keras
from tensorflow.keras import layers

**`Dense` 모델 사용**

타임시리즈로 구성된 샘플을 1차원 텐서로 푼 다음에 `Dense` 모델을 적용해본다.

In [84]:
inputs = keras.Input(shape=(sequence_length, len(col)-1))
x = layers.Flatten()(inputs)
x = layers.Dense(1024, activation="relu")(x)
# x = layers.Dense(1024, activation="relu")(x)
# x = layers.Dense(1024, activation="relu")(x)
outputs = layers.Dense(1)(x)
model = keras.Model(inputs, outputs)

callbacks = [
    keras.callbacks.ModelCheckpoint("seuncheonbo_dense.keras",
                                    save_best_only=True)
] 

model.compile(optimizer="rmsprop", loss="mse", metrics=["mae"])

history = model.fit(train_dataset,
                    epochs=100,
                    validation_data=val_dataset,
                    callbacks=callbacks)

model = keras.models.load_model("seuncheonbo_dense.keras")
print(f"Test MAE: {model.evaluate(test_dataset)[1]:.2f}")

Epoch 1/100
1752/1752 [==============================] - 6s 3ms/step - loss: 4881.8154 - mae: 34.7810 - val_loss: 1054.2013 - val_mae: 26.1185
Epoch 2/100
1752/1752 [==============================] - 5s 3ms/step - loss: 619.7990 - mae: 18.0452 - val_loss: 993.0393 - val_mae: 23.7847
Epoch 3/100
1752/1752 [==============================] - 4s 3ms/step - loss: 567.6293 - mae: 17.1500 - val_loss: 1485.4109 - val_mae: 28.5682
Epoch 4/100
1752/1752 [==============================] - 4s 3ms/step - loss: 535.9996 - mae: 16.5574 - val_loss: 1326.5981 - val_mae: 29.3600
Epoch 5/100
1752/1752 [==============================] - 5s 3ms/step - loss: 519.4167 - mae: 16.2488 - val_loss: 1392.9696 - val_mae: 26.6217
Epoch 6/100
1752/1752 [==============================] - 5s 3ms/step - loss: 506.2576 - mae: 16.0000 - val_loss: 1020.5278 - val_mae: 24.7464
Epoch 7/100
1752/1752 [==============================] - 5s 3ms/step - loss: 494.6244 - mae: 15.8200 - val_loss: 1334.8397 - val_mae: 28.6748
Epoch 8/100
1752/1752 [==============================] - 4s 3ms/step - loss: 488.5743 - mae: 15.7208 - val_loss: 1043.6686 - val_mae: 24.7067
Epoch 9/100
1752/1752 [==============================] - 5s 3ms/step - loss: 479.9223 - mae: 15.5798 - val_loss: 991.3671 - val_mae: 23.9342
Epoch 10/100
1752/1752 [==============================] - 4s 3ms/step - loss: 470.1738 - mae: 15.3685 - val_loss: 1145.9229 - val_mae: 26.1006
Epoch 11/100
1752/1752 [==============================] - 5s 3ms/step - loss: 470.5040 - mae: 15.3066 - val_loss: 1120.6902 - val_mae: 26.0088
Epoch 12/100
1752/1752 [==============================] - 4s 3ms/step - loss: 468.2206 - mae: 15.2424 - val_loss: 1717.2596 - val_mae: 27.5879
Epoch 13/100
1752/1752 [==============================] - 4s 3ms/step - loss: 461.9400 - mae: 15.1338 - val_loss: 1771.3242 - val_mae: 27.6073
Epoch 14/100
1752/1752 [==============================] - 5s 3ms/step - loss: 460.4828 - mae: 15.0458 - val_loss: 1501.9951 - val_mae: 27.9186
Epoch 15/100
1752/1752 [==============================] - 5s 3ms/step - loss: 458.3997 - mae: 15.0055 - val_loss: 1663.6946 - val_mae: 31.9163
Epoch 16/100
1752/1752 [==============================] - 5s 3ms/step - loss: 461.3900 - mae: 14.9576 - val_loss: 1535.7168 - val_mae: 28.4844
Epoch 17/100
1752/1752 [==============================] - 5s 3ms/step - loss: 457.9432 - mae: 14.8307 - val_loss: 1380.9728 - val_mae: 26.4299
Epoch 18/100
1752/1752 [==============================] - 5s 3ms/step - loss: 454.5265 - mae: 14.8286 - val_loss: 1361.9613 - val_mae: 26.7372
Epoch 19/100
1752/1752 [==============================] - 4s 3ms/step - loss: 456.6419 - mae: 14.7705 - val_loss: 1133.0312 - val_mae: 25.1517
Epoch 20/100
1752/1752 [==============================] - 5s 3ms/step - loss: 451.2516 - mae: 14.7179 - val_loss: 1376.5732 - val_mae: 29.1698
Epoch 21/100
1752/1752 [==============================] - 4s 3ms/step - loss: 447.9558 - mae: 14.6768 - val_loss: 1282.7955 - val_mae: 28.1514
Epoch 22/100
1752/1752 [==============================] - 5s 3ms/step - loss: 451.7556 - mae: 14.6459 - val_loss: 1466.3153 - val_mae: 30.8138
Epoch 23/100
1752/1752 [==============================] - 4s 3ms/step - loss: 454.7445 - mae: 14.5894 - val_loss: 1349.5575 - val_mae: 26.8954
Epoch 24/100
1752/1752 [==============================] - 5s 3ms/step - loss: 450.3663 - mae: 14.5543 - val_loss: 1290.4504 - val_mae: 26.5041
Epoch 25/100
1752/1752 [==============================] - 4s 3ms/step - loss: 441.7299 - mae: 14.5164 - val_loss: 1313.9348 - val_mae: 26.8529
Epoch 26/100
1752/1752 [==============================] - 5s 3ms/step - loss: 440.8773 - mae: 14.5153 - val_loss: 1113.0956 - val_mae: 26.3739
Epoch 27/100
1752/1752 [==============================] - 5s 3ms/step - loss: 435.1164 - mae: 14.4494 - val_loss: 1483.0928 - val_mae: 27.7531
Epoch 28/100
1752/1752 [==============================] - 5s 3ms/step - loss: 432.1821 - mae: 14.4382 - val_loss: 1350.3690 - val_mae: 28.0170
Epoch 29/100
1752/1752 [==============================] - 4s 3ms/step - loss: 429.9620 - mae: 14.3779 - val_loss: 1474.8590 - val_mae: 28.3139
Epoch 30/100
1752/1752 [==============================] - 5s 3ms/step - loss: 429.4193 - mae: 14.3547 - val_loss: 1500.1351 - val_mae: 28.3451
Epoch 31/100
1752/1752 [==============================] - 4s 3ms/step - loss: 426.8915 - mae: 14.3086 - val_loss: 1192.2240 - val_mae: 27.2623
Epoch 32/100
1752/1752 [==============================] - 5s 3ms/step - loss: 425.1189 - mae: 14.2986 - val_loss: 1410.1104 - val_mae: 29.0515
Epoch 33/100
1752/1752 [==============================] - 5s 3ms/step - loss: 419.4032 - mae: 14.2326 - val_loss: 1325.0951 - val_mae: 28.7331
Epoch 34/100
1752/1752 [==============================] - 5s 3ms/step - loss: 420.2646 - mae: 14.2249 - val_loss: 1272.1586 - val_mae: 27.2039
Epoch 35/100
1752/1752 [==============================] - 5s 3ms/step - loss: 419.5441 - mae: 14.1790 - val_loss: 1281.2076 - val_mae: 28.8320
Epoch 36/100
1752/1752 [==============================] - 5s 3ms/step - loss: 417.0891 - mae: 14.1700 - val_loss: 1350.5298 - val_mae: 27.6666
Epoch 37/100
1752/1752 [==============================] - 5s 3ms/step - loss: 417.7519 - mae: 14.1624 - val_loss: 1176.3932 - val_mae: 26.2772
Epoch 38/100
1752/1752 [==============================] - 5s 3ms/step - loss: 417.8308 - mae: 14.1106 - val_loss: 1306.0638 - val_mae: 28.0758
Epoch 39/100
1752/1752 [==============================] - 4s 3ms/step - loss: 411.2703 - mae: 14.0834 - val_loss: 1363.4733 - val_mae: 27.9531
Epoch 40/100
1752/1752 [==============================] - 5s 3ms/step - loss: 412.0936 - mae: 14.0699 - val_loss: 1383.6512 - val_mae: 28.2037
Epoch 41/100
1752/1752 [==============================] - 5s 3ms/step - loss: 411.5181 - mae: 14.0382 - val_loss: 1871.5671 - val_mae: 32.7319
Epoch 42/100
1752/1752 [==============================] - 5s 3ms/step - loss: 410.4870 - mae: 14.0413 - val_loss: 1342.1010 - val_mae: 27.4577
Epoch 43/100
1752/1752 [==============================] - 5s 3ms/step - loss: 409.7631 - mae: 14.0035 - val_loss: 1207.9989 - val_mae: 27.5533
Epoch 44/100
1752/1752 [==============================] - 5s 3ms/step - loss: 406.2043 - mae: 13.9780 - val_loss: 1325.9152 - val_mae: 27.0008
Epoch 45/100
1752/1752 [==============================] - 5s 3ms/step - loss: 404.2982 - mae: 13.9634 - val_loss: 1214.1277 - val_mae: 27.5292
Epoch 46/100
1752/1752 [==============================] - 5s 3ms/step - loss: 406.2704 - mae: 13.9831 - val_loss: 1286.5586 - val_mae: 28.9913
Epoch 47/100
1752/1752 [==============================] - 5s 3ms/step - loss: 406.0160 - mae: 13.9620 - val_loss: 1244.5730 - val_mae: 27.7356
Epoch 48/100
1752/1752 [==============================] - 5s 3ms/step - loss: 402.3206 - mae: 13.9210 - val_loss: 1208.9375 - val_mae: 27.1900
Epoch 49/100
1752/1752 [==============================] - 5s 3ms/step - loss: 403.2296 - mae: 13.9099 - val_loss: 1428.2881 - val_mae: 28.1379
Epoch 50/100
1752/1752 [==============================] - 5s 3ms/step - loss: 403.2461 - mae: 13.9197 - val_loss: 1358.2496 - val_mae: 29.5645
Epoch 51/100
1752/1752 [==============================] - 5s 3ms/step - loss: 402.8582 - mae: 13.8953 - val_loss: 1620.2379 - val_mae: 29.7216
Epoch 52/100
1752/1752 [==============================] - 5s 3ms/step - loss: 401.5869 - mae: 13.9001 - val_loss: 1867.0601 - val_mae: 31.8952
Epoch 53/100
1752/1752 [==============================] - 5s 3ms/step - loss: 401.9817 - mae: 13.8697 - val_loss: 1314.8265 - val_mae: 28.7360
Epoch 54/100
1752/1752 [==============================] - 5s 3ms/step - loss: 400.6783 - mae: 13.8456 - val_loss: 1538.8562 - val_mae: 29.8735
Epoch 55/100
1752/1752 [==============================] - 5s 3ms/step - loss: 400.7650 - mae: 13.8934 - val_loss: 1465.8850 - val_mae: 28.8225
Epoch 56/100
1752/1752 [==============================] - 5s 3ms/step - loss: 400.9115 - mae: 13.8472 - val_loss: 1373.5760 - val_mae: 29.7987
Epoch 57/100
1752/1752 [==============================] - 5s 3ms/step - loss: 397.9015 - mae: 13.8353 - val_loss: 1478.0919 - val_mae: 31.3807
Epoch 58/100

1752/1752 [==============================] - 5s 3ms/step - loss: 396.2394 - mae: 13.8165 - val_loss: 1368.4290 - val_mae: 28.4109
Epoch 59/100
1752/1752 [==============================] - 5s 3ms/step - loss: 397.1551 - mae: 13.7841 - val_loss: 1355.2256 - val_mae: 29.7222
Epoch 60/100
1752/1752 [==============================] - 5s 3ms/step - loss: 393.8260 - mae: 13.7429 - val_loss: 1335.6476 - val_mae: 29.1872
Epoch 61/100
1752/1752 [==============================] - 5s 3ms/step - loss: 392.9634 - mae: 13.7614 - val_loss: 1465.2206 - val_mae: 29.7070
Epoch 62/100
1752/1752 [==============================] - 5s 3ms/step - loss: 394.1443 - mae: 13.7712 - val_loss: 1302.7238 - val_mae: 27.9062
Epoch 63/100
1752/1752 [==============================] - 5s 3ms/step - loss: 394.5410 - mae: 13.7560 - val_loss: 1304.3123 - val_mae: 28.0874
Epoch 64/100
1752/1752 [==============================] - 5s 3ms/step - loss: 391.5191 - mae: 13.7290 - val_loss: 1342.8896 - val_mae: 29.0846
Epoch 65/100
1752/1752 [==============================] - 5s 3ms/step - loss: 394.8909 - mae: 13.7238 - val_loss: 1553.7003 - val_mae: 29.9332
Epoch 66/100
1752/1752 [==============================] - 5s 3ms/step - loss: 393.3951 - mae: 13.7441 - val_loss: 1532.1082 - val_mae: 31.8063
Epoch 67/100
1752/1752 [==============================] - 5s 3ms/step - loss: 391.3921 - mae: 13.7204 - val_loss: 1429.6946 - val_mae: 28.3505
Epoch 68/100
1752/1752 [==============================] - 5s 3ms/step - loss: 388.0811 - mae: 13.6701 - val_loss: 1407.7206 - val_mae: 30.3465
Epoch 69/100
1752/1752 [==============================] - 5s 3ms/step - loss: 389.3309 - mae: 13.6778 - val_loss: 1348.1656 - val_mae: 28.1489
Epoch 70/100
1752/1752 [==============================] - 5s 3ms/step - loss: 390.9183 - mae: 13.6904 - val_loss: 1278.4316 - val_mae: 28.2988
Epoch 71/100
1752/1752 [==============================] - 5s 3ms/step - loss: 388.0512 - mae: 13.6535 - val_loss: 1299.2668 - val_mae: 28.6584
Epoch 72/100
1752/1752 [==============================] - 5s 3ms/step - loss: 386.2920 - mae: 13.6123 - val_loss: 1355.7097 - val_mae: 27.9642
Epoch 73/100
1752/1752 [==============================] - 5s 3ms/step - loss: 386.1732 - mae: 13.6120 - val_loss: 1337.7087 - val_mae: 29.0420
Epoch 74/100
1752/1752 [==============================] - 5s 3ms/step - loss: 386.8758 - mae: 13.6275 - val_loss: 1371.7269 - val_mae: 27.7770
Epoch 75/100
1752/1752 [==============================] - 5s 3ms/step - loss: 386.5731 - mae: 13.6458 - val_loss: 1378.0912 - val_mae: 27.6588
Epoch 76/100
1752/1752 [==============================] - 5s 3ms/step - loss: 385.5663 - mae: 13.6453 - val_loss: 1563.0880 - val_mae: 28.7531
Epoch 77/100
1752/1752 [==============================] - 5s 3ms/step - loss: 382.2526 - mae: 13.5611 - val_loss: 1410.5101 - val_mae: 29.5998
Epoch 78/100
1752/1752 [==============================] - 5s 3ms/step - loss: 383.4663 - mae: 13.5614 - val_loss: 1558.0367 - val_mae: 31.6639
Epoch 79/100
1752/1752 [==============================] - 5s 3ms/step - loss: 382.3266 - mae: 13.6006 - val_loss: 1553.9210 - val_mae: 29.6534
Epoch 80/100
1752/1752 [==============================] - 5s 3ms/step - loss: 382.4324 - mae: 13.5561 - val_loss: 1472.7994 - val_mae: 29.1863
Epoch 81/100
1752/1752 [==============================] - 5s 3ms/step - loss: 381.8123 - mae: 13.5381 - val_loss: 1490.2645 - val_mae: 29.3114
Epoch 82/100
1752/1752 [==============================] - 5s 3ms/step - loss: 384.3327 - mae: 13.5394 - val_loss: 1382.7881 - val_mae: 28.8073
Epoch 83/100
1752/1752 [==============================] - 5s 3ms/step - loss: 376.9896 - mae: 13.4756 - val_loss: 1414.3480 - val_mae: 28.1157
Epoch 84/100
1752/1752 [==============================] - 5s 3ms/step - loss: 381.3920 - mae: 13.5076 - val_loss: 1472.3832 - val_mae: 30.9314
Epoch 85/100
1752/1752 [==============================] - 5s 3ms/step - loss: 376.9256 - mae: 13.4602 - val_loss: 1548.8416 - val_mae: 29.6294
Epoch 86/100
1752/1752 [==============================] - 5s 3ms/step - loss: 376.9402 - mae: 13.4801 - val_loss: 1361.5710 - val_mae: 27.3351
Epoch 87/100
1752/1752 [==============================] - 5s 3ms/step - loss: 377.3148 - mae: 13.4619 - val_loss: 1391.8640 - val_mae: 28.8550
Epoch 88/100
1752/1752 [==============================] - 5s 3ms/step - loss: 376.6284 - mae: 13.4245 - val_loss: 1434.9531 - val_mae: 28.9243
Epoch 89/100
1752/1752 [==============================] - 5s 3ms/step - loss: 373.9881 - mae: 13.3853 - val_loss: 1396.0237 - val_mae: 27.9242
Epoch 90/100
1752/1752 [==============================] - 5s 3ms/step - loss: 375.1869 - mae: 13.3918 - val_loss: 1371.4198 - val_mae: 27.2955
Epoch 91/100
1752/1752 [==============================] - 5s 3ms/step - loss: 374.6142 - mae: 13.3760 - val_loss: 1377.9393 - val_mae: 27.7114
Epoch 92/100
1752/1752 [==============================] - 5s 3ms/step - loss: 374.3383 - mae: 13.3963 - val_loss: 1463.8691 - val_mae: 28.5287
Epoch 93/100
1752/1752 [==============================] - 5s 3ms/step - loss: 374.6327 - mae: 13.3890 - val_loss: 1467.2405 - val_mae: 29.1170
Epoch 94/100
1752/1752 [==============================] - 4s 3ms/step - loss: 372.7139 - mae: 13.3535 - val_loss: 1485.6755 - val_mae: 30.7514
Epoch 95/100
1752/1752 [==============================] - 5s 3ms/step - loss: 373.8836 - mae: 13.3618 - val_loss: 1722.5272 - val_mae: 31.2722
Epoch 96/100
1752/1752 [==============================] - 5s 3ms/step - loss: 371.4525 - mae: 13.3367 - val_loss: 1618.2794 - val_mae: 30.3261
Epoch 97/100
1752/1752 [==============================] - 5s 3ms/step - loss: 370.7844 - mae: 13.2910 - val_loss: 1440.0057 - val_mae: 27.6542
Epoch 98/100
1752/1752 [==============================] - 5s 3ms/step - loss: 368.9632 - mae: 13.3003 - val_loss: 1455.9932 - val_mae: 29.6984
Epoch 99/100
1752/1752 [==============================] - 5s 3ms/step - loss: 368.1659 - mae: 13.2848 - val_loss: 1389.1112 - val_mae: 29.3397
Epoch 100/100
1752/1752 [==============================] - 5s 3ms/step - loss: 371.0346 - mae: 13.3012 - val_loss: 1435.2395 - val_mae: 29.1431
249/249 [==============================] - 0s 2ms/step - loss: 1228.2018 - mae: 26.6241
Test MAE: 26.62

피처 정규화 없이

In [124]:
X_train, X_test, y_train, y_test = train_test_split(scb_df.loc[:, col_v], scb_df['클로로필-a mg/㎥'], random_state=42)
gb_reg = GradientBoostingRegressor(random_state=42)

parameters = {'max_depth':[5], 'learning_rate':[0.05]}
# parameters = {'max_depth':[5, 10, 15], 'learning_rate':[0.05, 0.1, 0.2]}

In [125]:
gb_grid = GridSearchCV(gb_reg, param_grid=parameters, cv=3, verbose=5)

In [ ]:
gb_grid.fit(X_train, np.log1p(y_train))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

In [ ]:
scores_df = pd.DataFrame(gb_grid.cv_results_)

In [ ]:
scores_df.sort_values(by=['rank_test_score'], inplace=True)
scores_df[['params', 'mean_test_score', 'rank_test_score']].head()

In [ ]:
gb_grid.best_params_

In [ ]:
estimator = gb_grid.best_estimator_

In [ ]:
pred = estimator.predict(X_test)

In [ ]:
for score, name in zip(estimator.feature_importances_, col_v):
    print(round(score, 2), name)

In [ ]:
feature_series = pd.Series(data = estimator.feature_importances_, index = col_v)
feature_series = feature_series.sort_values(ascending = False)
sns.barplot(x = feature_series[:10], y = feature_series.index[:10], color = 'gray')
plt.show()

In [ ]:
feature_series[:10]

In [ ]:
print('score :', estimator.score(X_test, np.log1p(y_test)))

피처 정규화

In [102]:
scaler = StandardScaler()
scaler.fit(scb_df.loc[:, col_v])
scb_scaled = scaler.transform(scb_df.loc[:, col_v])

scb_df_scaled = pd.DataFrame(data = scb_scaled, columns = col_v)

In [103]:
scb_df_scaled.head()

,수온 ℃,수소이온농도,전기전도도 μS/cm,용존산소 mg/L,총유기탄소 mg/L,총질소 mg/L,총인 mg/L,상류수위(EL.m),방류량(㎥/s),1shift수온 ℃,...,14shift방류량(㎥/s),15shift방류량(㎥/s),16shift방류량(㎥/s),17shift방류량(㎥/s),18shift방류량(㎥/s),19shift방류량(㎥/s),20shift방류량(㎥/s),21shift방류량(㎥/s),22shift방류량(㎥/s),23shift방류량(㎥/s)
0,-0.427326,-0.371733,-0.340571,-0.040054,-0.764456,0.562457,-0.287339,0.707264,-0.187245,-0.394638,...,-0.155523,-0.154998,-0.154939,-0.154516,-0.154268,-0.153962,-0.147550,-0.142059,-0.165705,-0.173869
1,-0.460002,-0.371733,-0.351920,0.012973,-0.764456,0.564473,-0.302015,0.712680,-0.175998,-0.427314,...,-0.155713,-0.155523,-0.154998,-0.154940,-0.154516,-0.154268,-0.153962,-0.147550,-0.142059,-0.165705
2,-0.486143,-0.371733,-0.340571,0.012973,-0.764456,0.623441,-0.316691,0.714846,-0.173676,-0.459990,...,-0.156414,-0.155713,-0.155524,-0.154998,-0.154940,-0.154517,-0.154268,-0.153962,-0.147550,-0.142059
3,-0.499213,-0.371733,-0.340571,0.012973,-0.663832,0.686441,-0.302015,0.714846,-0.174772,-0.486131,...,-0.156458,-0.156414,-0.155714,-0.155524,-0.154998,-0.154940,-0.154517,-0.154269,-0.153962,-0.147550
4,-0.512283,-0.371733,-0.351920,0.012973,-0.764456,0.713152,-0.331367,0.712680,-0.178832,-0.499201,...,-0.156589,-0.156458,-0.156415,-0.155714,-0.155524,-0.154998,-0.154940,-0.154517,-0.154269,-0.153962

In [74]:
X_trains, X_tests, y_trains, y_tests = train_test_split(scb_df_scaled.loc[:, col_v], scb_df['클로로필-a mg/㎥'], random_state=42)
gb_regs = GradientBoostingRegressor(random_state=42)

parameters = {'max_depth':[5, 10, 15], 'learning_rate':[0.05, 0.1, 0.2]}

In [75]:
gb_grids = GridSearchCV(gb_regs, param_grid=parameters, cv=3)

In [ ]:
gb_grids.fit(X_trains, np.log1p(y_trains))

In [ ]:
scores_dfs = pd.DataFrame(gb_grids.cv_results_)

In [ ]:
scores_dfs.sort_values(by=['rank_test_score'], inplace=True)
scores_dfs[['params', 'mean_test_score', 'rank_test_score']].head()

In [ ]:
gb_grids.best_params_

In [ ]:
estimators = gb_grids.best_estimator_

In [ ]:
preds = estimators.predict(X_tests)

In [ ]:
for score, name in zip(estimators.feature_importances_, col_v):
    print(round(score, 2), name)

In [ ]:
feature_seriess = pd.Series(data = estimators.feature_importances_, index = col_v)
feature_seriess = feature_seriess.sort_values(ascending = False)
sns.barplot(x = feature_seriess[:10], y = feature_seriess.index[:10], color = 'gray')
plt.show()

In [ ]:
feature_seriess[:10]

In [ ]:
print('score :', estimators.score(X_tests, np.log1p(y_tests)))